.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;

    @media (max-width: 767px) { 
        width: 80%;
    }

    @media (min-width: 768px) and (max-width: 1023px) { 
        width: 90%;
    }
}