@import './global';

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;

  @media (min-width: $tablet1) and (max-width: $tablet2) {
    padding: 0 24px;
  }

  @media (max-width: $mobile) {
    width: 90%;
    padding: 0;
  }
}

.container-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 112px;

  @media (max-width: $tablet2) {
    padding: 0;
  }
}
