@import './global';

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
    
    @media (min-width: $tablet1) and (max-width: $tablet2) { 
        padding: 0 24px;
    }

        
    @media (max-width: $mobile) { 
        width: 90%;
        padding: 0;
    }
}