@import './global';
@import './colors';

.link-text {
  font-weight: 500;
  line-height: 22.5px;
  text-decoration: none;
  text-wrap: nowrap;
  color: $textColor;

  &:hover {
    transition: 2s;
    background: linear-gradient(to right, #e28b1e, #dff9fb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @include convertPxToEm(16px);
}

.large-text {
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 24px;

  @include convertPxToEm(24px);

  @media (min-width: $tablet1) and (max-width: $tablet2) {
    line-height: 24px;

    @include convertPxToEm(18px);
  }

  @media (max-width: $mobileII) {
    @include convertPxToEm(20px);
  }
}

.middle-text {
  margin-bottom: 24px;
  font-weight: 400;
  line-height: 24px;

  @include convertPxToEm;

  @media (max-width: $mobile) {
    text-align: justify;
  }
}

.text {
  margin-bottom: 24px;
  font-weight: 500;
  line-height: 24px;

  @include convertPxToEm(14px);
}

.error {
  color: red;

  @include convertPxToEm(12px);
}
