@import '@/assets/SCSS/main.scss';

.skills {
  padding: 120px 0;
  background-color: lighten($black, 2%);

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  // Control the size of the text tag p
  .middle-text {
    text-align: center;
    max-width: 500px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border: 1px solid transparent;

    &__item {
      width: 140px;
      height: 200px;
      text-align: center;
      padding: 40px 15px 30px;
      border-radius: 25px;
      margin-top: 15px;
      background-color: darken($blueII, 10%);

      &__img {
        margin-bottom: 16px;
        height: 60px;
        width: 60px;
        border-radius: 10px;
      }

      .title {
        margin: 0;
        line-height: 24px;
        text-transform: uppercase;

        @include convertPxToEm;
      }
    }
  }

  @media (min-width: $tablet1) and (max-width: $tablet3) {
    &__list {
      justify-content: center;
    }
  }

  @media (max-width: $mobile) {
    &__list {
      justify-content: center;

      &__item {
        width: 132px;
      }
    }

    .middle-text {
      text-align: justify;
    }
  }
}
